// global
// variables

@function pix2rem($Number) {
  $_rootSize: fonts('size'); // default 16(px)
  $_ratio: 1 / $_rootSize; // 0.625
  $_computed: round($Number * $_ratio * 1000) / 1000;
  @return #{$_computed}rem;
}
