// global
// variables

// screen size - - - - - - - - - - - - - - - -
// ref: https://hashimotosan.hatenablog.jp/entry/2019/05/28/164834
$screens: (
  "large": 960px,
  "medium": 768px,
  "small": 560px,
);
@function screens($key) {
  @return map-get($screens, $key);
}

// color - - - - - - - - - - - - - - - - - - -
$_white: white;
$_black: black;
$_fonts: #333;
$colors: (
  "white": rgba($_white, 1),
  "black": rgba($_black, 1),
  "font": rgba($_fonts, 1),
  "fontSub": rgba($_fonts, 0.6),
);
@function colors($key) {
  @return map-get($colors, $key);
}

// fonts - - - - - - - - - - - - - - - - - - -
$fonts: (
  "color": colors(font),
  "normal": 400,
  "bold": 700, // iOS激太り対策
  "extraBold": 900,
  "size": 16,
  "kerning": 'palt',
  "space": 0.1em,
  "lineHeight": 1.5,
);
@function fonts($key) {
  @return map-get($fonts, $key);
}

$TypeFamily: (
  "normal": #{
    Roboto,
    YakuHanJP, 'Noto Sans JP',
    '-apple-system', BlinkMacSystemFont, 'Segoe UI',
    'Hiragino Sans', 'Hiragino Kaku Gothic ProN',
    Arial, Meiryo, sans-serif
  },
  "number": #{ Gelasio, serif },
);
@function TypeFamily($key) {
  @return map-get($TypeFamily, $key);
}

$TypeScale: (
  "h1": 6.00rem, // 96px
  "h2": 3.75rem, // 60px
  "h3": 4.8rem * 0.625, // 48px
  "h4": 3.4rem * 0.625, // 34px
  "subtitle": 1.6rem * 0.625, // 16px
  "body": 1.4rem * 0.625, // 14px
  "caption": 1.2rem * 0.625, // 12px
  "overline": 1.0rem * 0.625, // 10px
);
@function TypeScale($key) {
  @return map-get($TypeScale, $key);
}

$TypeWeight: (
  "number": 500,
  "h1": 400,
  "h2": 400,
  "h3": 700,
  "h4": 700,
  "subtitle": 700,
  "body": 400,
  "caption": 400,
  "overline": 400,
);
@function TypeWeight($key) {
  @return map-get($TypeWeight, $key);
}
